<mat-card *ngIf="(hero | async)">
  <mat-card-header>
    <mat-card-title>
      <h2>
        {{ (hero | async)?.name | uppercase }}
      </h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form action="submit"
      [formGroup]="form"
    >
      <mat-form-field>
        <input
          matInput
          formControlName="id"
          readonly
          placeholder="ID"
        >
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          required
          formControlName="name"
          placeholder="Name"
        >
      </mat-form-field>
    </form>
    <mat-card-actions>
      <button mat-button (click)="return()">CANCEL</button>
      <button mat-button color="warn" (click)="delete()">DELETE</button>
      <button mat-button color="primary" (click)="save()">SAVE</button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
