:host {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ::ng-deep mat-card {
    overflow: auto;
    height: 80%;
    width: 80%;
  }
}
